@model OrderViewModel

<div class="py-3">
	<div class="container">
		<div class="border border-1 table-bordered rounded-3 py-3 px-4 my-4">
			<h4 class="my-2">Order Details:</h4>

			<div class="row pt-4 g-5 mb-5">
				<!-- Customer Info -->
				<div class="col-md-6 d-flex">
					<div class="me-3 pb-4">
						<i style="background-color:#f1f1f1a3;" class="fas fa-user p-3 rounded-circle"></i>
					</div>
					<div>
						<h5 class="fw-bold">Customer Info</h5>
						<div class="mb-1 font-sm">
							<span style="font-weight:600;">Name:</span>
							<span class="text-muted">@Model.OrderHeader.UserName</span>
						</div>
						<div class="mb-1 font-sm">
							<span style="font-weight:600;">Email:</span>
							<span class="text-muted">@Model.OrderHeader.ApplicationUser.Email</span>
						</div>
						<div class="mb-1 font-sm">
							<span style="font-weight:600;">Phone:</span>
							<span class="text-muted">@Model.OrderHeader.PhoneNumber</span>
						</div>
						<div class="mb-1 font-sm">
							<span style="font-weight:600;">Address:</span>
							<span class="text-muted">@Model.OrderHeader.Address</span>
						</div>
						<div class="mb-1 font-sm">
							<span style="font-weight:600;">City:</span>
							<span class="text-muted">@Model.OrderHeader.City</span>
						</div>
					</div>
				</div>

				<!-- Order Info -->
				<div class="col-md-6 d-flex">
					<div class="me-3 pb-4">
						<i style="background-color:#f1f1f1a3;" class="fas fa-shopping-cart p-3 rounded-circle"></i>
					</div>
					<div>
						<h5 class="fw-bold">Order Info</h5>
						<div class="mb-1 font-sm">
							<span style="font-weight:600;">OrderDate:</span>
							<span class="text-muted">@Model.OrderHeader.OrderDate.ToLongDateString()</span>
						</div>
						<div class="mb-1 font-sm">
							<span style="font-weight:600;">OrderStatus:</span>
							@if (Model.OrderHeader.OrderStatus == Status.Approve)
							{
								<span class=" text-primary  my-2">@Model.OrderHeader.OrderStatus</span>
							}
							else if (Model.OrderHeader.OrderStatus == Status.Processing)
							{
								<span class=" text-warning  my-2">@Model.OrderHeader.OrderStatus</span>
							}
							else if (Model.OrderHeader.OrderStatus == Status.Shipped)
							{
								<span class=" text-success  my-2">@Model.OrderHeader.OrderStatus</span>
							}
							else if (Model.OrderHeader.OrderStatus == Status.Canceled || @Model.OrderHeader.OrderStatus == Status.Refund)
							{
								<span class=" text-danger  my-2">@Model.OrderHeader.OrderStatus</span>
							}
							else
							{
								<span class=" text-dark  my-2">@Model.OrderHeader.OrderStatus</span>
							}
						</div>
						<div class="mb-1 font-sm">
							<span style="font-weight:600;">PaymentStatus:</span>
							@if (Model.OrderHeader.PaymentStatus == Status.Approve)
							{
								<span class=" text-primary  my-2">@Model.OrderHeader.PaymentStatus</span>
							}
							else if (Model.OrderHeader.PaymentStatus == Status.Processing)
							{
								<span class=" text-warning  my-2">@Model.OrderHeader.PaymentStatus</span>
							}
							else if (Model.OrderHeader.PaymentStatus == Status.Shipped)
							{
								<span class=" text-success  my-2">@Model.OrderHeader.PaymentStatus</span>
							}
							else if (Model.OrderHeader.PaymentStatus == Status.Canceled || @Model.OrderHeader.PaymentStatus == Status.Refund)
							{
								<span class=" text-danger  my-2">@Model.OrderHeader.PaymentStatus</span>
							}
							else
							{
								<span class=" text-dark  my-2">@Model.OrderHeader.OrderStatus</span>
							}
						</div>
					</div>
				</div>
			</div>

			<!-- Product Table -->
			<div class="table-responsive border border-3 border-light rounded-3 m-md-3">
				<table class="table mb-0 rounded-3">
					<thead>
						<tr class="table-light fw-bolder">
							<th>Name</th>
							<th>Quantity</th>
							<th>Price</th>
							@* <th>Total</th> *@
						</tr>
					</thead>

					<tbody>
						@foreach (var item in Model.OrderDetails)
						{
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<img style="width: 40px; height:40px;" src="/@item.Product.Image" alt="@item.Product.Name">
										<span class="ms-2 fw-bolder font-sm">@item.Product.Name</span>
									</div>
								</td>
								<td>@item.Quantity</td>
								<td>@item.Product.Price.ToString("c")</td>
								@* <td>@((item.Quantity * item.Price).ToString("c"))</td> *@
							</tr>
						}
					</tbody>

					<tfoot style="background:#f8f9fa">
						<tr  style="font-size:1rem;">
							<th colspan="2" class="py-3 rounded">
								<span class="ms-1">Total</span>
							</th>
							<td colspan="2" class="py-3 rounded">@Model.OrderHeader.TotalPrice.ToString("c")</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
