@model ShoppingCartViewModel
@inject IOptions<StripeOptions> Stripe

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="~/cart/summary.css" />

<div class="wrapper my-3">
	<div class="h5 large mb-3">Billing Address</div>
	<form asp-action="Checkout">
		<div class="row">
			<div class="col-lg-7 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1">
				<p class="mobile h5">Billing Address</p>

				<div id="details" class="bg-white rounded">
					<div class="form-group">
						<label>Name</label>
						<input id="name" type="text" class="form-control" asp-for="OrderHeader.UserName" />
						<span asp-validation-for="OrderHeader.UserName"></span>
					</div>

					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label>Phone Number</label>
								<input id="phoneNumber" class="form-control" type="text" asp-for="OrderHeader.PhoneNumber">
								<span asp-validation-for="OrderHeader.PhoneNumber"></span>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="form-group">
								<label>City</label>
								<input id="city" class="form-control" type="text" asp-for="OrderHeader.City">
								<span asp-validation-for="OrderHeader.City"></span>
							</div>
						</div>
					</div>

					<div class="form-group mb-0">
						<label>Address</label>
						<input id="address" class="form-control" type="text" asp-for="OrderHeader.Address">
						<span asp-validation-for="OrderHeader.Address"></span>
					</div>
				</div>
			</div>

			<div class="col-lg-5 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1 pt-lg-0 pt-3">
				<div id="cart" class="bg-white rounded">
					<div class="d-flex justify-content-between align-items-center">
						<div class="h6">Cart Summary</div>
						<div class="h6">
							<a asp-action="Index">Edit</a>
						</div>
					</div>

					@foreach (var cartItem in Model.CartItems)
					{
						<div class="d-flex justify-content-between align-items-center pt-3 pb-2 border-bottom">
							<div class="item pr-2">
								<img src="~/@cartItem.Product.Image" alt="@cartItem.Product.Name" width="80" height="80">
								<span class="number">@cartItem.Count</span>
							</div>
							<div class="d-flex justify-content-between align-items-center w-100">
								<h6 class="fw-bold px-3">@cartItem.Product.Name</h6>
								<span class="font-weight-bold">@cartItem.Product.Price.ToString("c")</span>
							</div>
						</div>
					}
					<div class="d-flex align-items-center py-2 mt-1">
						<div style="font-size:1.2rem">Total</div>
						<div class="ml-auto d-flex">
							<div class="text-info text-uppercase px-3">usd</div>
							<div class="font-weight-bold">@Model.OrderHeader.TotalPrice.ToString("c")</div>
						</div>
					</div>
				</div>

				<div class="row pt-lg-3 pt-2 buttons mb-sm-0 mb-2">
					<div class="col-md-12 pt-md-0 pt-3">
						<button type="submit" class="btn btn-primary w-100" onclick="return CheckData()">Checkout</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	<script>
		function CheckData() {
			if (document.getElementById("name").value == '') {
				Swal.fire({
					title: 'There Is An Error',
					text: "Please Enter Name",
					icon: 'error',
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
				});
				return false;
			}
			if (document.getElementById("phoneNumber").value == '') {
				Swal.fire({
					title: 'There Is An Error',
					text: "Please Enter PhoneNumber Number",
					icon: 'error',
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
				});
				return false;
			}
			if (document.getElementById("city").value == '') {
				Swal.fire({
					title: 'There Is An Error',
					text: "Please Enter City",
					icon: 'error',
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
				});
				return false;
			}			
			if (document.getElementById("address").value == '') {
				Swal.fire({
					title: 'There Is An Error',
					text: "Please Enter Address",
					icon: 'error',
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
				});
				return false;
			}
			return true;
		}
	</script>
}